
*.gz
*.log
.fabric/**
.mixin.out/**
craftpresence/**
not-enough-crashes/**
realms_persistence.json
ModTranslations/**
.idea/**
PerformacraftX-Modpack.iml
screenshots/**
saves/**
crash-reports/**
config/multiconnect/caches/**
server-resource-packs/**
usercache.json
