
*.gz
*.log
.fabric/**
.mixin.out/**
craftpresence/**
crash-reports/**
not-enough-crashes/**
realms_persistence.json
ModTranslations/**
.idea/**
PerformacraftX-Modpack.iml
saves/**
usercache.json
config/multiconnect/caches/**
config/multiconnect/servers_ext.json